<!doctype html>
<html lang="en">
<head>
    <title>HairB2B NodeJS Server</title>

    <!--CSS files-->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!--Javascript files-->
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script>
        angular.module('server_status',[])
            .controller('status_controller',['$scope',function($scope){
                $scope.server_admin = "Prasanna Deshappriya";

                $scope.getStatus = function () {
                    //get the server status flag from database
                    //(Hardcoded for now)
                    return "working";
                }
            }]);
    </script>
</head>
<body ng-app="server_status" ng-controller="status_controller">
    <div class="container">
        <h3 class="text-info">Server start on 'http://localhost:3000'</h3>
        <p class="text-info text-uppercase"> Server Admin: {{server_admin}} <br>
         Status: {{getStatus()}} </p>
    </div>
</body>
</html>