<!doctype html>
<html lang="en">
<head>
    <title>HairB2B NodeJS Server</title>

    <!--CSS files-->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!--Javascript files-->
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="container">
    <h3 class="text-info">Server error occurred</h3>
    <p>Message: <%= message %> [Error code: <%= error.status %>]</p>
    <pre><%= error.stack %></pre>
</div>
</body>
</html>